@import "_bpmn-embedded.scss";
@import "_diagram-js.scss";

body, html {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited {
  text-decoration: none;
}

.djs-visual {
  marker-end: url(#sequenceflow-end-marker);
}

#page-main-menu {
  width: 800px;
}

#main-svg-canvas {
  width: 100%;
  height: 500px;
}

.djs-palette {
  position: absolute;
  height: 100%;
  padding: 30px 15px 100px 20px;
  left: -5px;
  top: -5px;
  background: #f6f6f6;
}

.djs-palette .entry {
  display: block;
}

.content,
.content > div {
  width: 100%;
  height: 100%;
}

.content > .message {
  text-align: center;
  display: table;

  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content > .message .note a, .content > .message .note a:visited {
  color: #222;
}

.content > .message .note a:hover {
  color: #E84545;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}

.content .canvas,
.content.with-error .canvas {
  visibility: hidden;
}

.content.with-diagram .canvas {
  visibility: visible;
}

.console {
  position: fixed;
  top: -5px;
  right: -5px;

  width: 220px;
  height: 100%;
  background: #f6f6f6;

  padding: 0px 20px 20px 15px;
  margin: 0;
  display: none;

  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#js-console {
  width: 100%;
  height: 85%;
}

#download-buttons {
  display: none;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 7px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  margin-bottom: 20px;
}
.buttons > li > a {
  padding: 5px;
}

.buttons a {
  opacity: 0.3;
}

.buttons a.active {
  opacity: 1.0;
}

.debug {
  position: fixed;
  bottom: 180px;
  left: 7px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.debug > li > a {
  padding: 5px;
}

#js-properties-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #666;
  overflow: auto;
  padding: 16px;
  background: #f6f6f6;
}

#js-properties-panel p {

}

#js-properties-panel:empty {
  display: none;
}

#js-properties-panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}
